* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a :focus,
a :active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    
}
body {
    font-family: "Montserrat", sans-serif;
}
.header {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    margin-bottom: 40px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 80px;
    background-color: antiquewhite;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 40px;
}

.navigation {
    display: flex;
    align-items: center;
    color: #18a0fb;
}
.navigation li {
    margin: 0 20px;
}
.navigation li:last-child {
    margin-right: 0;
}
.navigation li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button-secondary {
    background: #18a0fb;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    color: #ffffff;
    margin: 10px 0;
}
.header-menu-start {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin-left: 50px;
}
.button-primary {
    border: 1px solid #18a0fb;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    color: #18a0fb;
    background: #ffffff;
    margin-right: 12px;
}
.header-logo-end {
    margin: 14px 0;
}
.hero {
    font-weight: 400;

    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 40px;
}

.hero-text {
    max-width: 686px;
    padding: 0 60px;
}
.button-secondary {
}
.hero-image {
    width: 50%;
    max-width: 600px;
}
.hero-image img {
    max-width: 600px;
}
.row.reverse {
    flex-direction: row-reverse;
}
.hero-tittle.opacity {
    opacity: 0.3;
}
.row.direction-column {
    flex-direction: column;
    align-items: flex-start;
}
.hero-image.direction-column {
    max-width: 100%;
    width: 100%;
    height: 50%;
}
.hero-image.direction-column img {
    width: 100%;
    max-width: 100%;
    height: 384px;
}
.hero-text.direction-column {
    max-width: 50%;
    padding: 0;
    padding-left: 100px;
    margin: 100px 0;
}
.container.background {
    background: url(../img/Rectangle.png) 0 0/100% 100% no-repeat;
    height: 960px;
}
.row.background {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.row-wrapper {
    height: 600px;
    background: url(../img/Rectangle.png) 0 0/100% 100% no-repeat;
    text-align: center;
    position: relative;
}
.utility {
    height: 50%;
}
.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-text.long h1 {
    margin-bottom: 50px;
}
.row.long {
    height: 50%;
}
.button-secondary.long {
    margin: 0 auto;
    margin-bottom: 50px;
}
.column {
    width: 50%;
    position: relative;
}
.rectangle {
    width: 600px;
}
.play-button.column {
    position: absolute;
    top: 267px;
    right: 241px;
    height: 132px;
    width: 132px;
}
.column.direction-column {
    position: relative;
    height: 300px;
}
.row.wrapper.direction-column {
    display: block;
}
.image.direction-column {
    padding: 0 60px;
}
.play-button.direction-column {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 69px;
    left: 173px;
}

.hero-subtittle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

input {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.form {
    padding: 50px;
    max-width: 350px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,
h2 {
    font-size: 42px;
    line-height: 80px;
}
.form-input {
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
}
.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input-wrapper.form-input {
}
.form-wrapper {
    height: 900px;
    display: flex;
    align-items: center;
}
@media (max-width: 1100px) {
    .input-wrapper {
        flex-direction: column;
    }
    .input-wrapper.form-input {
        width: 100%;
    }
}
.rectangle {
    max-width: 600px;
    margin: 40px 0 40px 0;
}
.rectangle.wide {
    height: 440px;
    width: 1200px;
    max-width: 1200px;
}
.tittle.dc {
    padding-top: 50px;
}
.tittle.rr {
    padding-left: 50px;
}
.column.background {
    width: 100%;
}
.column.lyt {
    margin: 60px 0 60px 0;
}
.column-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 25px;
}
.title.lyt {
    margin-top: 40px;
}
.row.lyt {
    gap: 60px;
}
.column p {
    font-size: 20px;
    margin-bottom: 30px;
}
.layout {
    margin-bottom: 40px;
}

/********************SNAP**********************/

.snap-tittle {
    font-size: 40px;
    max-width: 50%;
    margin-bottom: 50px;
}
.snap-items {
    display: flex;
    gap: 50px;
}
.snap-img {
    margin-bottom: 20px;
}
.item-txt {
    font-size: 18px;
    margin-bottom: 32px;
}
.item-tittle h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 24px;
}
.item-tittle {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 24px;
}

.rect2 {
    max-width: 600px;
}
.wrapper {
    display: flex;
}
.px40 {
    padding: 0px 40px;
}
.ml40 {
    margin-left: 40px;
}
.mr40 {
    margin-right: 40px;
}
.mb60 {
    margin-bottom: 60px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb15{margin-bottom: 15px;}
.mb100 {
    margin-bottom: 100px;
}
.m0a{margin: 0 auto;}
.p-y100 {
    padding: 100px 0;
}
.pb100{padding-bottom: 100px;}
.pt100{padding-top: 100px;}
.g30 {
    gap: 30px;
}
.g60 {
    gap: 60px;
}
.mw350 {
    max-width: 350px;
}
.mw550 {
    max-width: 550px;
}
.tac {
    text-align: center;
}
.ai-c {
    align-items: center;
}
.jc-c {
    justify-content: center;
}
.h600 {
    height: 600px;
}
.jcc {
    justify-content: center;
}
.bb {
    border-bottom: #00000080 1px solid;
    padding-bottom: 30px;
}
.border {
    border: #00000080 1px solid;
}
.item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.item-subtitle {
    color: #18a0fb;
    font-weight: 700;
    font-size: 18px;
}
.title.lyt {
    font-size: 38px;
    font-weight: 700;
}
.subtitle-layout {
    font-size: 24px;
    line-height: 35px;
}
.rect4 {
    max-width: 600px;
}
.rect5 {
    max-width: 350px;
}
.rect6 {
    max-width: 549px;
}
.column-items {
    min-width: 550px;
}
.content-wrapper {
    height: 800px;
    display: flex;
    align-items: center;
}
.image-layout {
    display: block;
}
.small {
    height: 400px;
}
.dir-col {
    flex-direction: column;
}
.mid {
    height: 600px;
}
.content-box {
    max-width: 800px;
    margin: 0 auto;
}
.buttons {
    display: flex;
    align-items: center;
}
.footer-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.db {
    display: block;
}
.footer-top{display: grid;
grid-template: 1fr/1fr 800px 1fr; }
.footer-subtitle {font-size: 17px;
line-height: 24px;
font-weight: 700px;}
.menu-items{color: rgba(0, 0, 0, 0.8);}
.menu-items li{padding-bottom: 10px;}
.menu-items li:last-child{padding: 0;}
.footer-bottom{display: flex;
align-items: center;
justify-content: space-between;
}
.social-medias{gap:20px;
display: flex;
align-items: center;}
.media-icons img{padding-left: 20px;}
.media-icons :first-child{padding: 0;}
.footer-main{
    display: grid;
    grid-template: 1fr/0.5fr 2fr 1fr ;
    align-items: center;
    justify-items: center;

}
.footer-nav{display: flex;
align-items: center;
justify-content: space-between;
}
.footer-nav nav{line-height: 24px;
    font-weight: 700;}
.footer-mid-logo{
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr 3fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.footer-mid-logo{
    line-height: 24px;
    font-weight: 700;
}