* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a :focus,
a :active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
body {
    font-family: "Montserrat", sans-serif;
}
.header {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    margin-bottom: 40px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 80px;
    background-color: antiquewhite;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
}
.header-menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 40px;
}

.navigation {
    display: flex;
    align-items: center;
    color: #18a0fb;
}
.navigation li {
    margin: 0 20px;
}
.navigation li:last-child{
    margin-right: 0;
}
.navigation li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.header-buttons {
}
.button-secondary {
    background: #18a0fb;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    color: #ffffff;
    margin: 10px 0;
}
.header-menu-start {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin-left: 50px;
}
.button-primary {
    border: 1px solid #18a0fb;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    color: #18a0fb;
    background: #FFFFFF;
    margin-right: 12px;
    
}
.header-logo-end{
    margin: 14px 0;
}
